.Contact {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    .textConteiner {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 100PX;
            line-height: 80px;
        }

        span {
            font-weight: 300;
        }
    }

    .formConteiner {
        flex: 1;
        position: relative;

        .phonesvg {
            position: absolute;
            margin: auto;
            stroke: orange;
            z-index: -1;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input,
            textarea {
                width: 100%;
                padding: 20px;
                border: 1px solid gray;
                border-radius: 8px;
                font-size: 16px;
                font-family: 'Arial', sans-serif;
                resize: none;
                outline: none;
            }

            button {
                height: 50px;
                border: none;
                background: orange;
                border-radius: 8px;
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;
                color: white;
            }
        }
    }
}