.navbar {
    height: 100px;
}

.wrapper {
    display: flex;
    align-items:center ;
    justify-content: space-between;
    height: 100%;
    max-width: 1366px;
    margin: auto;
}
.social{
    display: flex;
    gap: 20px;
}
